html,
body,
#root {
    margin: 0;
    min-height: 100%;
}


.Layout {
    &-default {
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #ebe7e7;
            color: aliceblue;
            position: sticky;
            top: 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid #ccc;
            z-index: 1000;
        }

        &-main {
            padding: 20px;
            background-color: #f0f0f0;
            flex: 1;
        }

        &-footer {
            padding: 20px;
            background-color: #6d6d6d;
            color: #fff;
            text-align: center;
        }

        &-logo {
            &-icon {
                padding: 5px 8px;
                background-color: #3b3b3b;
                color: #fff;
                border-radius: 5px;
                margin-right: 5px;
            }

            &-text {
                font-size: 20px;
                font-weight: bold;
                background: linear-gradient(to right, #333, #999999);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    &-auth {
        display: flex;
        gap: 10px;
        align-items: center;

        &-login {
            padding: 5px 10px;
            color: #fff;

            a {
                color: #878787;

                &:hover {
                    color: #1d1c1c;
                }
            }
        }

        &-register {
            padding: 5px 10px;
            background-color: #3b3b3b;
            border-radius: 5px;
            // border: 2px solid #3b3b3b;

            a {
                color: #fff;


            }

            &:hover {
                background-color: #454545;
            }
        }
    }

    &-user {
        .ant-dropdown-trigger {
            &:hover {
                background-color: #5f5f5f !important;
            }

            background-color: #3b3b3b;
        }
    }
}

a {
    text-decoration: none;
    font-weight: 700;
}

@media (max-width: 425px) {
    .Layout-default-logo-text {
        display: none;
    }
}